<div class="navigation">
	位置：
	<a ui-sref="index">首页</a>
	&gt;
	成本核算
	&gt;
	{{job.job_desc}} {{job.state}}
</div>
<div class="content">

	<div ng-if="job.state == '2'">
		
		科室名:<input ng-model="search.filterStr" />
		<div class="btn btn-lblue" 
			ng-click="reload();">
			过滤
		</div>
		
	</div>

	<div class="mytable" >
		<div class="title" ng-init="show='baseinfo'">
			<a class="item" ng-click="show='baseinfo'"
				ng-class="{true: 'select', false: 'unselect'}[show=='baseinfo']" >基本信息</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='srcData'"
				ng-class="{true: 'select', false: 'unselect'}[show=='srcData']" >原始数据</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='fentanData'"
				ng-class="{true: 'select', false: 'unselect'}[show=='fentanData']" >分摊数据</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='level1Data'" 
				ng-class="{true: 'select', false: 'unselect'}[show=='level1Data']">一级分摊</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='level2Data'"
				ng-class="{true: 'select', false: 'unselect'}[show=='level2Data']" >二级分摊</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='level3Data'"
				ng-class="{true: 'select', false: 'unselect'}[show=='level3Data']" >三级分摊</a>
		</div>
	</div>
	
	<!-- 基础数据 -->
	<div class="mytable" ng-show="show=='baseinfo'">
		<table>
			<tbody>
				<tr>
					<td class="td-odd">医院名称：</td>
					<td class="td-even">
						{{job.hos_name}}
					</td>
					<td class="td-odd"></td>
					<td class="td-even">
					</td>
				</tr>
				
				<tr ng-if="job.state == '2'">
					<td class="td-odd">总开单收入：</td>
					<td class="td-even">
						{{baseInfo.total_cost_kdsr}}
					</td>
					<td class="td-odd">总执行收入：</td>
					<td class="td-even">
						{{baseInfo.total_cost_zxsr}}
					</td>
				</tr>
				<tr ng-if="job.state == '2'">
					<td class="td-odd">总消毒工作量：</td>
					<td class="td-even">
						{{baseInfo.total_cost_xdgzl}}
					</td>
					<td class="td-odd">总开单工作量：</td>
					<td class="td-even">
						{{baseInfo.total_cost_kdgzl}}
					</td>
				</tr>
				<tr ng-if="job.state == '2'">
					<td class="td-odd">总住院人数：</td>
					<td class="td-even">
						{{baseInfo.total_cost_zyrs}}
					</td>
					<td class="td-odd">总门诊量：</td>
					<td class="td-even">
						{{baseInfo.total_Cost_mzl}}
					</td>
				</tr>
				<tr ng-if="job.state == '2'">
					<td class="td-odd">总人数：</td>
					<td class="td-even">
						{{baseInfo.total_people}}
					</td>
					<td class="td-odd"></td>
					<td class="td-even">
					</td>
				</tr>
				
				<tr>
					<td class="td-odd">创建时间：</td>
					<td class="td-even">
						{{job.create_time | date: 'yyyy/MM/dd HH:mm:ss'}}
					</td>
					<td class="td-odd">更新时间：</td>
					<td class="td-even">
						{{job.update_time | date: 'yyyy/MM/dd HH:mm:ss'}}
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<!-- 原始数据 -->
	<div class="mytable" ng-show="show=='srcData'" style="overflow-x: scroll;">
		<table class="my-table table-width" ng-table="tableParamsSrc"
			style="width: 1500px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室</th>
					<th colspan="6">人员经费</th>
					<th rowspan="2">房屋、通用设备<br/>折旧费</th>
					<th rowspan="2">专用设备<br/>折旧费</th>
					<th rowspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险<br/>基金</th>
					<th rowspan="2">其他<br/>费用</th>
					<th colspan="6">人员数</th>
					<th rowspan="2">开单<br/>收入</th>
					<th rowspan="2">执行<br/>收入</th>
					<th rowspan="2">消毒<br/>工作量</th>
					<th rowspan="2">开单<br/>工作量</th>
					<th rowspan="2">住院<br/>人数</th>
					<th rowspan="2">门诊量</th>
				</tr>
				<tr>
					<th>主治<br/>医师</th>
					<th>副主任<br/>医师</th>
					<th>主任<br/>医师</th>
					<th>技师</th>
					<th>护士</th>
					<th>其他</th>
					
					<th>主治<br/>医师</th>
					<th>副主任<br/>医师</th>
					<th>主任<br/>医师</th>
					<th>技师</th>
					<th>护士</th>
					<th>其他</th>
					
				</tr>
			</thead>
			<tr ng-show="!$data"><td colspan="4">加载中...</td></tr>
			<tr ng-repeat="item in $data">
				<td>{{ (queryParamsSrc.page - 1) * queryParamsSrc.rows + $index + 1 }}</td>
				
				<td>{{ item.dept_name }}[{{ item.dept_code }}]</td>
				
				<td>{{ item.cost_people_zzys | tableShowNull}}</td>
				<td>{{ item.cost_people_fzzys | tableShowNull}}</td>
				<td>{{ item.cost_people_zrys | tableShowNull}}</td>
				<td>{{ item.cost_people_js | tableShowNull}}</td>
				<td>{{ item.cost_people_hs | tableShowNull}}</td>
				<td>{{ item.cost_people_qt | tableShowNull}}</td>
				
				<td>{{ item.cost_old_house_device_common | tableShowNull}}</td>
				<td>{{ item.cost_old_device_special | tableShowNull}}</td>
				<td>{{ item.cost_asset_amortize | tableShowNull}}</td>
				<td>{{ item.cost_vc_funds | tableShowNull}}</td>
				<td>{{ item.cost_other | tableShowNull}}</td>
				
				<td>{{ item.people_count_zzys | tableShowNull}}</td>
				<td>{{ item.people_count_fzrys | tableShowNull}}</td>
				<td>{{ item.people_count_zrys | tableShowNull}}</td>
				<td>{{ item.people_count_js | tableShowNull}}</td>
				<td>{{ item.people_count_hs | tableShowNull}}</td>
				<td>{{ item.people_count_qt | tableShowNull}}</td>
				
				<td>{{ item.work_count_kdsr | tableShowNull}}</td>
				<td>{{ item.work_count_zxsr | tableShowNull}}</td>
				<td>{{ item.work_count_xdgzl | tableShowNull}}</td>
				<td>{{ item.work_count_kdgzl | tableShowNull}}</td>
				<td>{{ item.work_count_inhos | tableShowNull}}</td>
				<td>{{ item.work_count_mz | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 分摊成本 -->
	<div class="mytable" ng-show="show=='fentanData'" style="overflow-x: scroll;">
		<table class="my-table table-width" ng-table="tableParamsFentan"
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="3">序号</th>
					<th rowspan="3">科室</th>
					<th rowspan="3">直接<br/>成本</th>
					<th rowspan="3">全成本</th>
					
					<th colspan="8">一级分摊</th>
					<th colspan="8">二级分摊</th>
					<th colspan="8">三级分摊</th>
					
				</tr>
				<tr>
					<th rowspan="2">分摊后<br/>成本</th>
					<th rowspan="2">间接<br/>成本</th>
					<th colspan="6">分项成本</th>
					
					<th rowspan="2">分摊后<br/>成本</th>
					<th rowspan="2">间接<br/>成本</th>
					<th colspan="6">分项成本</th>
					
					<th rowspan="2">分摊后<br/>成本</th>
					<th rowspan="2">间接<br/>成本</th>
					<th colspan="6">分项成本</th>
					
				</tr>
				<tr>
					<th>人员<br/>经费</th>
					<th>房屋、通用<br/>设备折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>医疗风险<br/>基金</th>
					<th>其他费用</th>
					
					<th>人员经费</th>
					<th>房屋、通用<br/>设备折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>医疗风险<br/>基金</th>
					<th>其他费用</th>
					
					<th>人员经费</th>
					<th>房屋、通用<br/>设备折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>医疗风险<br/>基金</th>
					<th>其他费用</th>
					
				</tr>
			</thead>
			<tr ng-show="!$data"><td colspan="4">加载中...</td></tr>
			<tr ng-repeat="item in $data">
				<td>{{ (queryParamsFentan.page - 1) * queryParamsFentan.rows + $index + 1 }}</td>
				
				<td>{{ item.dept_name }}[{{ item.dept_code }}]</td>
				
				<td>{{ item.count_direct | number:2| tableShowNull}}</td>
				<td>{{ item.count_all | number:2| tableShowNull}}</td>
				
				<td>{{ item.count_direct + item.fx_l1 | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1 | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_people | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_device_common | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_device_spe | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_asset | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_vc | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_other | number:2 | tableShowNull}}</td>
				
				<td>{{ item.count_direct + item.fx_l1 + item.fx_l2 | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2 | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_people | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_device_common | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_device_spe | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_asset | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_vc | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_other | number:2 | tableShowNull}}</td>
				
				<td>{{ item.count_direct + item.fx_l1 + item.fx_l2 + item.fx_l3 | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3 | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_people | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_device_common | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_device_spe | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_asset | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_vc | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_other | number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 一级分摊 -->
	<div class="mytable" ng-show="show=='level1Data'">
		<table class="my-table" ng-table="tableParamsLevel1">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室</th>
					<th rowspan="2">分摊费用</th>
					<th rowspan="2">被分摊科室</th>
					<th colspan="7">分项成本</th>
				</tr>
				<tr>
					<th>人员<br/>经费</th>
					<th>房屋、通用设备<br/>折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>计提医疗<br/>风险基金</th>
					<th>其它</th>
				</tr>
			</thead>
			<tr ng-show="!$data"><td colspan="4">加载中...</td></tr>
			<tr ng-repeat="item in $data">
				<td>{{ (queryParamsLevel1.page - 1) * queryParamsLevel1.rows + $index + 1 }}</td>
				
				<td>{{ item.dept_name }}[{{ item.dept_code }}]</td>
				<td>{{ item.share_level1 | number:2}}</td>
				<td>{{ item.dept_name_share }}[{{ item.dept_code_share }}]</td>
				
				<td>{{ item.share_item_people | number:2}}</td>
				<td>{{ item.share_item_old_house_device_common | number:2 }}</td>
				<td>{{ item.share_item_old_device_special | number:2 }}</td>
				<td>{{ item.share_item_asset_amortize | number:2 }}</td>
				<td>{{ item.share_item_vc_funds | number:2 }}</td>
				<td>{{ item.share_item_other | number:2 }}</td>
			</tr>
		</table>
	</div>
	
	<!-- 二级分摊 -->
	<div class="mytable" ng-show="show=='level2Data'">
		<table class="my-table" ng-table="tableParamsLevel2">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室</th>
					<th rowspan="2">分摊费用</th>
					<th rowspan="2">被分摊科室</th>
					<th colspan="7">分项成本</th>
				</tr>
				<tr>
					<th>人员<br/>经费</th>
					<th>房屋、通用设备<br/>折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>计提医疗<br/>风险基金</th>
					<th>其它</th>
				</tr>
			</thead>
			<tr ng-show="!$data"><td colspan="4">加载中...</td></tr>
			<tr ng-repeat="item in $data">
				<td>{{ (queryParamsLevel2.page - 1) * queryParamsLevel2.rows + $index + 1 }}</td>
				
				<td>{{ item.dept_name }}[{{ item.dept_code }}]</td>
				<td>{{ item.share_level2 | number:2}}</td>
				<td>{{ item.dept_name_share }}[{{ item.dept_code_share }}]</td>
				
				<td>{{ item.share_item_people | number:2 }}</td>
				<td>{{ item.share_item_old_house_device_common | number:2 }}</td>
				<td>{{ item.share_item_old_device_special | number:2 }}</td>
				<td>{{ item.share_item_asset_amortize | number:2 }}</td>
				<td>{{ item.share_item_vc_funds | number:2 }}</td>
				<td>{{ item.share_item_other | number:2 }}</td>
			</tr>
		</table>
	</div>
	
	<!-- 三级分摊 -->
	<div class="mytable" ng-show="show=='level3Data'">
		<table class="my-table" ng-table="tableParamsLevel3">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室</th>
					<th rowspan="2">分摊费用</th>
					<th rowspan="2">被分摊科室</th>
					<th colspan="7">分项成本</th>
				</tr>
				<tr>
					<th>人员<br/>经费</th>
					<th>房屋通用设备<br/>折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>计提医疗<br/>风险基金</th>
					<th>其它</th>
				</tr>
			</thead>
			<tr ng-show="!$data"><td colspan="4">加载中...</td></tr>
			<tr ng-repeat="item in $data">
				<td>{{ (queryParamsLevel3.page - 1) * queryParamsLevel3.rows + $index + 1 }}</td>
				
				<td>{{ item.dept_name }}[{{ item.dept_code }}]</td>
				<td>{{ item.share_level3 | number:2}}</td>
				<td>{{ item.dept_name_share }}[{{ item.dept_code_share }}]</td>
				
				<td>{{ item.share_item_people | number:2 }}</td>
				<td>{{ item.share_item_old_house_device_common | number:2 }}</td>
				<td>{{ item.share_item_old_device_special | number:2 }}</td>
				<td>{{ item.share_item_asset_amortize | number:2 }}</td>
				<td>{{ item.share_item_vc_funds | number:2 }}</td>
				<td>{{ item.share_item_other | number:2 }}</td>
			</tr>
		</table>
	</div>

</div>