<div class="navigation">
	位置：
	<a href="#">首页</a>
</div>
<form name="form">
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				任务编辑
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-even" colspan="3">
						<span class="warn">*</span>选择医院：<div core-hos-select ng-model="selectHos" hosid="t_hos_id"></div>
					</td>
				</tr>
				<tr>
					<td class="td-even" colspan="3">
						<span class="warn">*</span>类型：
						年<input type="radio" name="type" value="年" ng-model="job.type">
						半年<input type="radio" name="type" value="半年" ng-model="job.type">
					</td>
				</tr>
				<tr>
					<td class="td-even" colspan="3">
						<span class="warn">*</span>年份：
       					<select ng-model="job.year" ng-options="year for year in years"></select>
					</td>
				</tr>
				<tr ng-if="job.type=='半年'">
					<td class="td-even" colspan="3">
						<span class="warn">*</span>阶段：
						上半年<input type="radio" name="halfType" value="上半年" ng-model="job.halfType">
						下半年<input type="radio" name="halfType" value="下半年" ng-model="job.halfType">
					</td>
				</tr>
				
				<tr>
					<td class="td-even"><span class="warn">*</span>业务数据</td>
				</tr>
				<tr>
					<td class="td-even center" >
						<input type="file"
							ng-model="file"
							ngf-select
							name="file"
							ngf-accept="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'" 
							ngf-max-size="50MB"
							required
							ngf-model-invalid="errorFile"
							ngf-validate-force="false"
							/>
							请上传excel
					</td>
				</tr>
				
				<tr>
					<td class="td-even">
						<div class="btn btn-lblue" 
							ng-show="!isRuning"
							ng-click="save()">
							&nbsp;&nbsp;保存&nbsp;&nbsp;
						</div>
						<btn-back />
						<div ng-show="isRuning">
							上传中，请稍后...
						</div>

					</td>
				</tr>
			</tbody>
		</table>
		<div class="warn">{{validInfo}}</div>
		<div core-formresult result="formresult"></div>
	</div>
	
</div>

</form>
