<div class="navigation">
	位置：
	<a href="#">首页</a>
</div>
<form name="form">
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				任务编辑
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-even">
						<span class="warn">*</span>任务描述：
						<input class="form-input" ng-model="job.jobDesc" />
					</td>
				</tr>
				<tr class="line">
					<td class="td-even" colspan="3">
						<span class="warn">*</span>选择医院：<div core-hos-select ng-model="selectHos" hosid="t_hos_id"></div>
					</td>
				</tr>
				
				<tr>
					<td class="td-even"><span class="warn">*</span>业务数据</td>
				</tr>
				<tr>
					<td class="td-even center" >
						<input type="file"
							ng-model="file"
							ngf-select
							name="file"
							ngf-accept="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'" 
							ngf-max-size="50MB"
							required
							ngf-model-invalid="errorFile"
							ngf-validate-force="false"
							>
							请上传excel<div/>
					</td>
				</tr>
				
				<tr>
					<td class="td-even" colspan="4">
						<div class="btn btn-lblue" 
							ng-show="!isRuning"
							ng-click="save()">
							&nbsp;&nbsp;保存&nbsp;&nbsp;
						</div>
						<span class="warn">{{validInfo}}</span>
						<div ng-show="isRuning">
							上传中，请稍后...
						</div>

					</td>
				</tr>
				
				<tr>
					<td colspan="2">
						<div core-formresult result="formresult"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

</form>
