<div class="navigation">
	位置：
	<a ui-sref="index">首页</a>
	&gt;
	成本核算
	&gt;
	结果查看
	&gt;
	{{job.jobDesc}}
</div>
<div class="content">

	<!-- 
	<div ng-show="job.state == '2'">
		
		科室名:<input ng-model="queryParams.deptName" />
		<div class="btn btn-lblue" 
			ng-click="reload();">
			过滤
		</div>
		
	</div>
	-->
	<btn-back></btn-back>

	<div class="mytable" >
		<div class="title" ng-init="showtype='fentan';show='fentanData1'">
			<!-- <a class="item" ng-click="showtype='baseinfo';show=null"
				ng-class="{true: 'select', false: 'unselect'}[showtype=='baseinfo']" >基本信息</a>
			<a class="item" ng-click="showtype='srcData';show=null"
				ng-class="{true: 'select', false: 'unselect'}[showtype=='srcData']" >原始数据</a>
			<a class="item" ng-click="showtype='srcDataKdgzl';show=null"
				ng-class="{true: 'select', false: 'unselect'}[showtype=='srcDataKdgzl']" >原始数据【开单工作量-年例数】</a>
			<a class="item" ng-click="showtype='srcDataNls';show=null"
				ng-class="{true: 'select', false: 'unselect'}[showtype=='srcDataNls']" >原始数据【科室项目年例数】</a> -->
			<a class="item" ng-show="job.state == '2'" ng-click="showtype='fentan';show='fentanData1'"
				ng-class="{true: 'select', false: 'unselect'}[showtype=='fentan']" >分摊算法结果</a>
			<a class="item" ng-show="job.state == '2'" ng-click="showtype='lilun';show='lilun1'"
				ng-class="{true: 'select', false: 'unselect'}[showtype=='lilun']" >理论成本算法结果</a>
			<a class="item" ng-show="job.state == '2'" ng-click="showtype='shiji';show='shiji1'"
				ng-class="{true: 'select', false: 'unselect'}[showtype=='shiji']" >实际成本算法结果</a>
		</div>
	</div>

	<div class="mytable" ng-show="showtype=='fentan'" style="margin-top: 10px; margin-bottom: 10px;">
		<div class="title" style="background-color: #2f96b4">
			<a class="item" ng-show="job.state == '2'" ng-click="show='fentanData1'"
				ng-class="{true: 'select', false: 'unselect'}[show=='fentanData1']" >科室全成本1</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='fentanData2'"
				ng-class="{true: 'select', false: 'unselect'}[show=='fentanData2']" >科室全成本2</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='level1Data'"
				ng-class="{true: 'select', false: 'unselect'}[show=='level1Data']" >分摊行政后勤科室费用表</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='level2Data'"
				ng-class="{true: 'select', false: 'unselect'}[show=='level2Data']" >分摊医辅科室费用表</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='level3Data'"
				ng-class="{true: 'select', false: 'unselect'}[show=='level3Data']" >分摊医技科室费用表</a>
		</div>
	</div>
	
	<div class="mytable" ng-show="showtype=='lilun'" style="margin-top: 10px; margin-bottom: 10px;">
		<div class="title" style="background-color: #2f96b4">
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun1'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun1']" >科室级-项目理论成本</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun2'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun2']" >科室级-项目理论成本（直接成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun3'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun3']" >科室级-项目理论成本（业务成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun4'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun4']" >科室级-项目理论成本（全成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun5'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun5']" >科室级-产能成本率</a>
			<br/>
			
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun6'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun6']" >院级-项目理论成本</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun7'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun7']" >院级-项目理论成本（直接成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun8'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun8']" >院级-项目理论成本（业务成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun9'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun9']" >院级-项目理论成本（全成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='lilun10'"
				ng-class="{true: 'select', false: 'unselect'}[show=='lilun10']" >院级-产能成本率</a>
			<br/>			
			
		</div>
	</div>
	
	<div class="mytable" ng-show="showtype=='shiji'" style="margin-top: 10px; margin-bottom: 10px;">
		<div class="title" style="background-color: #2f96b4">
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji1'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji1']" >科室级-项目实际成本</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji2'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji2']" >科室级-项目实际成本（直接成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji3'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji3']" >科室级-项目实际成本（业务成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji4'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji4']" >科室级-项目实际成本（全成本明细表）</a>
			<br/>
			
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji5'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji5']" >院级-项目实际成本</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji6'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji6']" >院级-项目实际成本（直接成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji7'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji7']" >院级-项目实际成本（业务成本明细表）</a>
			<a class="item" ng-show="job.state == '2'" ng-click="show='shiji8'"
				ng-class="{true: 'select', false: 'unselect'}[show=='shiji8']" >院级-项目实际成本（全成本明细表）</a>
			<br/>
			
		</div>
	</div>
	
	<!-- 基础数据 -->
	<div class="mytable" ng-show="showtype=='baseinfo'">
		<table>
			<tbody>
				<tr>
					<td class="td-odd">医院名称：</td>
					<td class="td-even">
						{{job.hosName}}
					</td>
					<td class="td-odd"></td>
					<td class="td-even">
					</td>
				</tr>
				
				<tr ng-show="job.state == '2'">
					<td class="td-odd">总开单收入：</td>
					<td class="td-even">
						{{dataBase.total_cost_kdsr}}
					</td>
					<td class="td-odd">总门诊执行收入：</td>
					<td class="td-even">
						{{dataBase.total_cost_mzzxsr}}
					</td>
				</tr>
				<tr ng-show="job.state == '2'">
					<td class="td-odd">总消毒工作量：</td>
					<td class="td-even">
						{{dataBase.total_cost_xdgzl}}
					</td>
					<td class="td-odd">总住院执行收入：</td>
					<td class="td-even">
						{{dataBase.total_cost_zyzxsr}}
					</td>
				</tr>
				<tr ng-show="job.state == '2'">
					<td class="td-odd">总住院人数：</td>
					<td class="td-even">
						{{dataBase.total_cost_inhos}}
					</td>
					<td class="td-odd">总门诊人次：</td>
					<td class="td-even">
						{{dataBase.total_Cost_mz}}
					</td>
				</tr>
				<tr ng-show="job.state == '2'">
					<td class="td-odd">总人数：</td>
					<td class="td-even">
						{{dataBase.total_people}}
					</td>
					<td class="td-odd"></td>
					<td class="td-even">
					</td>
				</tr>
				
				<tr>
					<td class="td-odd">创建时间：</td>
					<td class="td-even">
						{{job.createTime | date: 'yyyy/MM/dd HH:mm:ss'}}
					</td>
					<td class="td-odd">更新时间：</td>
					<td class="td-even">
						{{job.updateTime | date: 'yyyy/MM/dd HH:mm:ss'}}
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<!-- 原始数据 -->
	<div class="mytable" ng-show="showtype=='srcData'" style="overflow-x: scroll;">
		<table class="my-table table-width"
			tabexp
			style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室</th>
					<th colspan="6">人员经费</th>
					<th rowspan="2">卫生<br/>材料费</th>
					<th rowspan="2">房屋、通用设备<br/>折旧费</th>
					<th rowspan="2">专用设备<br/>折旧费</th>
					<th rowspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险<br/>基金</th>
					<th rowspan="2">其他<br/>费用</th>
					<th colspan="6">人员数</th>
					<th colspan="6">各类工作量</th>
					
				</tr>
				<tr>
					<th>主治<br/>医师</th>
					<th>副主任<br/>医师</th>
					<th>主任<br/>医师</th>
					<th>护士</th>
					<th>技师/药师</th>
					<th>其他</th>
					
					<th>主治<br/>医师</th>
					<th>副主任<br/>医师</th>
					<th>主任<br/>医师</th>
					<th>护士</th>
					<th>技师/药师</th>
					<th>其他</th>
					
					<th>开单<br/>收入</th>
					<th>门诊<br/>执行收入</th>
					<th>住院<br/>执行收入</th>
					<th>消毒<br/>工作量</th>
					<th>门诊<br/>人次</th>
					<th>住院人数</th>
					
				</tr>
			</thead>
			<tr ng-repeat="item in dataSrc">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name }}[{{ item.dept_code }}]</td>
				
				<td>{{ item.cost_people_zzys | tableShowNull}}</td>
				<td>{{ item.cost_people_fzzys | tableShowNull}}</td>
				<td>{{ item.cost_people_zrys | tableShowNull}}</td>
				<td>{{ item.cost_people_hs | tableShowNull}}</td>
				<td>{{ item.cost_people_js | tableShowNull}}</td>
				<td>{{ item.cost_people_qt | tableShowNull}}</td>
				
				<td>{{ item.cost_wscl | tableShowNull}}</td>
				<td>{{ item.cost_old_house_device_common | tableShowNull}}</td>
				<td>{{ item.cost_old_device_special | tableShowNull}}</td>
				<td>{{ item.cost_asset_amortize | tableShowNull}}</td>
				<td>{{ item.cost_vc_funds | tableShowNull}}</td>
				<td>{{ item.cost_other | tableShowNull}}</td>
				
				<td>{{ item.people_count_zzys | tableShowNull}}</td>
				<td>{{ item.people_count_fzrys | tableShowNull}}</td>
				<td>{{ item.people_count_zrys | tableShowNull}}</td>
				<td>{{ item.people_count_hs | tableShowNull}}</td>
				<td>{{ item.people_count_js | tableShowNull}}</td>
				<td>{{ item.people_count_qt | tableShowNull}}</td>
				
				<td>{{ item.work_count_kdsr | tableShowNull}}</td>
				<td>{{ item.work_count_mzzxsr | tableShowNull}}</td>
				<td>{{ item.work_count_zyzxsr | tableShowNull}}</td>
				<td>{{ item.work_count_xdgzl | tableShowNull}}</td>
				<td>{{ item.work_count_mz | tableShowNull}}</td>
				<td>{{ item.work_count_inhos | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 原始数据-开单工作量 -->
	<div class="mytable" ng-show="showtype=='srcDataKdgzl'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>科室名称</th>
					<th>医技科室名称</th>
					<th>开单工作量</th>
				</tr>
			</thead>
			<tr ng-repeat="item in dataSrcKdgzl">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name_base }}</td>
				<td>{{ item.dept_name_yj }}</td>
				<td>{{ item.kdgzl | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 原始数据-科室项目年例数 -->
	<div class="mytable" ng-show="showtype=='srcDataNls'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>科室名称</th>
					<th>项目名称</th>
					<th>年例数</th>
				</tr>
			</thead>
			<tr ng-repeat="item in dataSrcNls">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name }}</td>
				<td>{{ item.pro_name }}</td>
				<td>{{ item.nls | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 分摊成本-展示1 -->
	<div class="mytable" ng-show="show=='fentanData1'" style="overflow-x: scroll;">
		<table class="my-table table-width"
			tabexp
			style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室名称</th>
					<th colspan="6">人员经费</th>
					
					<th rowspan="2">卫生材料费</th>
					<th rowspan="2">房屋、通用<br/>设备折旧费</th>
					<th rowspan="2">专用设备<br/>折旧费</th>
					<th rowspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险<br/>基金</th>
					<th rowspan="2">其他费用</th>
					
					<th rowspan="2">直接成本</th>
					
					<th colspan="3">间接成本</th>
					
					<th rowspan="2">全成本</th>
					
				</tr>
				<tr>
					<th>主治医师</th>
					<th>副主任医师</th>
					<th>主任医师</th>
					<th>护士</th>
					<th>技师/药师</th>
					<th>其他</th>
					
					<th>一级分摊</th>
					<th>二级分摊</th>
					<th>三级分摊</th>
					
				</tr>
			</thead>
			<tr ng-repeat="item in dataFentan">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.cost_people_zzys | number:2| tableShowNull}}</td>
				<td>{{ item.cost_people_fzzys | number:2| tableShowNull}}</td>
				<td>{{ item.cost_people_zrys | number:2| tableShowNull}}</td>
				<td>{{ item.cost_people_hs | number:2| tableShowNull}}</td>
				<td>{{ item.cost_people_js | number:2| tableShowNull}}</td>
				<td>{{ item.cost_people_qt | number:2| tableShowNull}}</td>
				
				<td>{{ item.cost_wscl | number:2| tableShowNull}}</td>
				<td>{{ item.cost_old_house_device_common | number:2| tableShowNull}}</td>
				<td>{{ item.cost_old_device_special | number:2| tableShowNull}}</td>
				<td>{{ item.cost_asset_amortize | number:2| tableShowNull}}</td>
				<td>{{ item.cost_vc_funds | number:2| tableShowNull}}</td>
				<td>{{ item.cost_other | number:2| tableShowNull}}</td>
				
				<td>{{ item.count_direct | number:2| tableShowNull}}</td>
				
				<td>{{ item.fx_l1 | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l2 | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l3 | number:2| tableShowNull}}</td>
				
				<td>{{ item.count_direct + item.fx_l1 + item.fx_l2 + item.fx_l3 | number:2| tableShowNull}}</td>
			</tr>
		</table>
	</div>
	
	<!-- 分摊成本-展示2 -->
	<div class="mytable" ng-show="show=='fentanData2'" style="overflow-x: scroll;">
		<table class="my-table table-width"
			tabexp
			style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室名称</th>
					
					<th colspan="2">人员经费</th>
					<th colspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备折旧费</th>
					<th colspan="2">专用设备折旧费</th>
					<th colspan="2">无形资产摊销费</th>
					<th colspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					
					<th colspan="3">全成本</th>
					
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					
					<th>直接成本</th>
					<th>间接成本</th>
					<th>合计</th>
					
				</tr>
			</thead>
			<tr ng-repeat="item in dataFentan">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.cost_people_zzys + item.cost_people_fzzys + item.cost_people_zrys + item.cost_people_js + item.cost_people_hs + item.cost_people_qt | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1_people + item.fx_l2_people + item.fx_l3_people  | number:2| tableShowNull}}</td>
				<td>{{ item.cost_wscl | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1_wscl + item.fx_l2_wscl + item.fx_l3_wscl  | number:2| tableShowNull}}</td>
				<td>{{ item.cost_old_house_device_common | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1_device_common + item.fx_l2_device_common + item.fx_l3_device_common  | number:2| tableShowNull}}</td>
				<td>{{ item.cost_old_device_special | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1_device_spe + item.fx_l2_device_spe + item.fx_l3_device_spe  | number:2| tableShowNull}}</td>
				<td>{{ item.cost_asset_amortize | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1_asset + item.fx_l2_asset + item.fx_l3_asset  | number:2| tableShowNull}}</td>
				<td>{{ item.cost_vc_funds | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1_vc + item.fx_l2_vc + item.fx_l3_vc  | number:2| tableShowNull}}</td>
				<td>{{ item.cost_other | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1_other + item.fx_l2_other + item.fx_l3_other  | number:2| tableShowNull}}</td>
				
				<td>{{ item.count_direct | number:2| tableShowNull}}</td>
				<td>{{ item.fx_l1 + item.fx_l2 + item.fx_l3 | number:2| tableShowNull}}</td>
				<td>{{ item.count_direct + item.fx_l1 + item.fx_l2 + item.fx_l3 | number:2| tableShowNull}}</td>
			</tr>
		</table>
	</div>
	
	<!-- 一级分摊 -->
	<div class="mytable" ng-show="show=='level1Data'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室名称</th>
					
					<th colspan="6">人员经费</th>
					
					<th rowspan="2">卫生材料费</th>
					<th rowspan="2">房屋、通用<br/>设备折旧费</th>
					<th rowspan="2">专用设备<br/>折旧费</th>
					<th rowspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险<br/>基金</th>
					<th rowspan="2">其他费用</th>
				</tr>
				<tr>
					<th>主治医师</th>
					<th>副主任医师</th>
					<th>主任医师</th>
					<th>护士</th>
					<th>技师/药师</th>
					<th>其他</th>
				</tr>
			</thead>
			<tr ng-repeat="item in dataFentan | filter: filterL1">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.fx_l1_people_zzys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_people_fzrys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_people_zrys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_people_hs | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_people_js | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_people_qt | number:2 | tableShowNull}}</td>
				
				<td>{{ item.fx_l1_wscl | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_device_common | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_device_spe | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_asset | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_vc | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l1_other | number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 二级分摊 -->
	<div class="mytable" ng-show="show=='level2Data'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室名称</th>
					
					<th colspan="6">人员经费</th>
					
					<th rowspan="2">卫生材料费</th>
					<th rowspan="2">房屋、通用<br/>设备折旧费</th>
					<th rowspan="2">专用设备<br/>折旧费</th>
					<th rowspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险<br/>基金</th>
					<th rowspan="2">其他费用</th>
				</tr>
				<tr>
					<th>主治医师</th>
					<th>副主任医师</th>
					<th>主任医师</th>
					<th>护士</th>
					<th>技师/药师</th>
					<th>其他</th>
				</tr>
			</thead>
			<tr ng-repeat="item in dataFentan | filter: filterL2">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.fx_l2_people_zzys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_people_fzrys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_people_zrys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_people_hs | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_people_js | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_people_qt | number:2 | tableShowNull}}</td>
				
				<td>{{ item.fx_l2_wscl | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_device_common | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_device_spe | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_asset | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_vc | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l2_other | number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 三级分摊 -->
	<div class="mytable" ng-show="show=='level3Data'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室名称</th>
					
					<th colspan="6">人员经费</th>
					
					<th rowspan="2">卫生材料费</th>
					<th rowspan="2">房屋、通用<br/>设备折旧费</th>
					<th rowspan="2">专用设备<br/>折旧费</th>
					<th rowspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险<br/>基金</th>
					<th rowspan="2">其他费用</th>
				</tr>
				<tr>
					<th>主治医师</th>
					<th>副主任医师</th>
					<th>主任医师</th>
					<th>护士</th>
					<th>技师/药师</th>
					<th>其他</th>
				</tr>
			</thead>
			<tr ng-repeat="item in dataFentan | filter: filterL3">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.fx_l3_people_zzys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_people_fzrys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_people_zrys | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_people_hs | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_people_js | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_people_qt | number:2 | tableShowNull}}</td>
				
				<td>{{ item.fx_l3_wscl | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_device_common | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_device_spe | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_asset | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_vc | number:2 | tableShowNull}}</td>
				<td>{{ item.fx_l3_other | number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表1：科室级-项目理论成本 -->
	<div class="mytable" ng-show="show=='lilun1'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>科室编码</th>
					<th>科室名称</th>
					<th>项目名称</th>
					<th>项目直接成本</th>
					<th>项目业务成本</th>
					<th>项目全成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表2：科室级-项目理论成本（直接成本明细表） -->
	<div class="mytable" ng-show="show=='lilun2'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>科室编码</th>
					<th>科室名称</th>
					<th>项目名称</th>
					<th>人员经费</th>
					<th>卫生材料费</th>
					<th>房屋、通用设备<br/>折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>医疗风险<br/>基金</th>
					<th>其他费用</th>
					<th>合计</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表3：科室级-项目理论成本（业务成本明细表） -->
	<div class="mytable" ng-show="show=='lilun3'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室编码</th>
					<th rowspan="2">科室名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_yw | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表4：科室级-项目理论成本（全成本明细表） -->
	<div class="mytable" ng-show="show=='lilun4'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室编码</th>
					<th rowspan="2">科室名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_all | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表5：科室级-产能成本率 -->
	<div class="mytable" ng-show="show=='lilun5'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th>序号</th>
					<th>科室编码</th>
					<th>科室名称</th>
					<th>产能成本<br/>率类别</th>
					<th>医生产能<br/>成本率</th>
					<th>护士产能<br/>成本率</th>
					<th>技师/药师产能<br/>成本率</th>
					<th>其他人员<br/>产能成本率</th>
					<th>房屋、通用设备<br/>产能成本率</th>
					<th>专用设备<br/>产能成本率</th>
					<th>无形资产摊销<br/>产能成本率</th>
					<th>其他费用<br/>产能成本率</th>
				</tr>
			</thead>
			<tr ng-repeat="item in proresultCncbl | filter: {level: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.type }}</td>
				
				<td>{{ item.ys_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.hs_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.js_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.op_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.house_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.spe_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.asset_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.oc_cncbl | number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	
	<!-- 展示报表6：院级-项目理论成本 -->
	<div class="mytable" ng-show="show=='lilun6'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>机构代码</th>
					<th>医院名称</th>
					<th>项目名称</th>
					<th>项目直接成本</th>
					<th>项目业务成本</th>
					<th>项目全成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表7：院级-项目理论成本（直接成本明细表） -->
	<div class="mytable" ng-show="show=='lilun7'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>机构代码</th>
					<th>医院名称</th>
					<th>项目名称</th>
					<th>人员经费</th>
					<th>卫生材料费</th>
					<th>房屋、通用设备<br/>折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>医疗风险<br/>基金</th>
					<th>其他费用</th>
					<th>合计</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表8：院级-项目理论成本（业务成本明细表） -->
	<div class="mytable" ng-show="show=='lilun8'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">机构代码</th>
					<th rowspan="2">医院名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_yw | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表9：院级-项目理论成本（全成本明细表） -->
	<div class="mytable" ng-show="show=='lilun9'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">机构代码</th>
					<th rowspan="2">医院名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 1}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_all | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表10：院级-产能成本率 -->
	<div class="mytable" ng-show="show=='lilun10'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th>序号</th>
					<th>机构代码</th>
					<th>医院名称</th>
					<th>产能成本<br/>率类别</th>
					<th>医生产能<br/>成本率</th>
					<th>护士产能<br/>成本率</th>
					<th>技师/药师产能<br/>成本率</th>
					<th>其他人员<br/>产能成本率</th>
					<th>房屋、通用设备<br/>产能成本率</th>
					<th>专用设备<br/>产能成本率</th>
					<th>无形资产摊销<br/>产能成本率</th>
					<th>其他费用<br/>产能成本率</th>
				</tr>
			</thead>
			<tr ng-repeat="item in proresultCncbl | filter: {level: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				
				<td>{{ item.type | tableShowNull }}</td>
				
				<td>{{ item.ys_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.hs_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.js_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.op_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.house_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.spe_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.asset_cncbl | number:2 | tableShowNull}}</td>
				<td>{{ item.oc_cncbl | number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- ==========实际成本============ -->
	<!-- 展示报表1：科室级-项目实际成本 -->
	<div class="mytable" ng-show="show=='shiji1'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>科室编码</th>
					<th>科室名称</th>
					<th>项目名称</th>
					<th>项目直接成本</th>
					<th>项目业务成本</th>
					<th>项目全成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表2：科室级-项目实际成本（直接成本明细表） -->
	<div class="mytable" ng-show="show=='shiji2'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>科室编码</th>
					<th>科室名称</th>
					<th>项目名称</th>
					<th>人员经费</th>
					<th>卫生材料费</th>
					<th>房屋、通用设备<br/>折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>医疗风险<br/>基金</th>
					<th>其他费用</th>
					<th>合计</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表3：科室级-项目实际成本（业务成本明细表） -->
	<div class="mytable" ng-show="show=='shiji3'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室编码</th>
					<th rowspan="2">科室名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_yw | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表4：科室级-项目实际成本（全成本明细表） -->
	<div class="mytable" ng-show="show=='shiji4'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">科室编码</th>
					<th rowspan="2">科室名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 1, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ item.dept_code }}</td>
				<td>{{ item.dept_name }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_all | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	
	<!-- 展示报表5：院级-项目实际成本 -->
	<div class="mytable" ng-show="show=='shiji5'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>机构代码</th>
					<th>医院名称</th>
					<th>项目名称</th>
					<th>项目直接成本</th>
					<th>项目业务成本</th>
					<th>项目全成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表6：院级-项目实际成本（直接成本明细表） -->
	<div class="mytable" ng-show="show=='shiji6'">
		<table class="my-table" tabexp>
			<thead>
				<tr>
					<th>序号</th>
					<th>机构代码</th>
					<th>医院名称</th>
					<th>项目名称</th>
					<th>人员经费</th>
					<th>卫生材料费</th>
					<th>房屋、通用设备<br/>折旧费</th>
					<th>专用设备<br/>折旧费</th>
					<th>无形资产<br/>摊销费</th>
					<th>医疗风险<br/>基金</th>
					<th>其他费用</th>
					<th>合计</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表7：院级-项目实际成本（业务成本明细表） -->
	<div class="mytable" ng-show="show=='shiji7'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">机构代码</th>
					<th rowspan="2">医院名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_yw | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_yw | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_yw + item.cost_house_mid_yw + item.cost_spe_mid_yw 
					+ item.cost_asset_mid_yw + item.cost_other_mid_yw 
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
	<!-- 展示报表8：院级-项目实际成本（全成本明细表） -->
	<div class="mytable" ng-show="show=='shiji8'" style="overflow-x: scroll;">
		<table class="my-table table-width"
		 tabexp
		 style="width: 2000px;">
			<thead>
				<tr>
					<th rowspan="2">序号</th>
					<th rowspan="2">机构代码</th>
					<th rowspan="2">医院名称</th>
					<th rowspan="2">项目名称</th>
					<th colspan="2">人员经费</th>
					<th rowspan="2">卫生材料费</th>
					<th colspan="2">房屋、通用设备<br/>折旧费</th>
					<th colspan="2">专用设备<br/>折旧费</th>
					<th colspan="2">无形资产<br/>摊销费</th>
					<th rowspan="2">医疗风险基金</th>
					<th colspan="2">其他费用</th>
					<th rowspan="2">合计</th>
				</tr>
				<tr>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
					<th>直接成本</th>
					<th>间接成本</th>
				</tr>
			</thead>
			<tr ng-repeat="item in procosts | filter: {level: 2, type: 2}">
				<td>{{ $index + 1 }}</td>
				
				<td>{{ hos.hosCode }}</td>
				<td>{{ hos.hosName }}</td>
				
				<td>{{ item.pro_name }}</td>
				
				<td>{{ item.cost_people_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_people_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_wsclf | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_house_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_spe_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_asset_mid_all | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_ylfxjj | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_direct | number:2 | tableShowNull}}</td>
				<td>{{ item.cost_other_mid_all | number:2 | tableShowNull}}</td>
				
				<td>{{ item.cost_people_direct + item.cost_house_direct + item.cost_spe_direct 
					+ item.cost_asset_direct + item.cost_other_direct 
					+ item.cost_wsclf + item.cost_ylfxjj 
					+ item.cost_people_mid_all + item.cost_house_mid_all + item.cost_spe_mid_all
					+ item.cost_asset_mid_all + item.cost_other_mid_all
					| number:2 | tableShowNull}}</td>
				
			</tr>
		</table>
	</div>
	
</div>