<div class="navigation">
	位置：
	<a href="#">首页</a>
</div>
<form name="form">
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				医院编辑
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-even">
						<span class="warn">*</span>医院编码：
						<input class="form-input" ng-model="hos.hosCode" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						<span class="warn">*</span>医院名称：
						<input class="form-input" ng-model="hos.hosName" />
					</td>
				</tr>
				
				<tr>
					<td class="td-even">
						<div class="btn btn-lblue" 
							ng-show="!isRuning"
							ng-click="save()">
							&nbsp;&nbsp;保存&nbsp;&nbsp;
						</div>
						<div ng-show="isRuning">
							保存中，请稍后...
						</div>

					</td>
				</tr>
				
				<tr>
					<td colspan="2">
						<div core-formresult result="formresult"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

</form>
