<div class="widget-team">
	<div class="teams">
		<div class="team formresult-success">
			<span class="fa fa-user">&nbsp;</span>
		</div>
		<div class="team formresult-success" ng-repeat="selectteam in select track by $index">
			<span
				ng-click="removeItem(selectteam, $index);" 
				class="fa fa-times close">
					{{selectteam.name}}
				</span>
		</div>
	</div>
	<span class="btn btn-lblue teams-btn" ng-click="showdialog=true;">添加成员</span>
	<input class="none" name="{{name ? name : 'team' }}" value="{{ selectteamsFlag }}" />
	<div class="dialog-wrap" ng-show="showdialog">
		<div class="dialog">
			<div class="info">
				<div ng-click="showdialog=false;" 
					class="fa fa-2x fa-times close"></div>
				<i class="fa fa-info"></i>&nbsp;&nbsp;<span>请输入姓名进行查询，</span><span>至多显示100条记录</span>
				<div>
					<div class="field-desc">姓名：</div><input class="form-input" ng-model="teamsearch" />
				</div>
			</div>
			<div ng-repeat="team in teams">
				<span
					ng-click="addItem(team, $index);"
					class="fa fa-2x fa-check-circle ok">
						{{team.name}}
					</span>
				<br/>
			</div>
		</div>
	</div>
</div>