<style>
	.role-set-menu{
		line-height: 1.5em;
	}
	.role-set-menu-lv2{
		text-indent: 2em;
	}
	.role-set-menu-lv3{
		text-indent: 4em;
	}
</style>
<div class="navigation">
	位置：
	<a href="#">首页</a>
</div>
<form name="form">
<div class="content">
	<div class="mytable">
		<div class="title">
			角色权限分配-{{inParams.roleName}}
		</div>
		
			<ul class="role-set-menu">
				<li ng-repeat="item in items">
					<input type="checkbox" name="userroles"
						value="item.id" 
						ng-checked="item.checked == true"
						ng-model="item.checked" />
					{{item.text}}
					
					<ul ng-if="item.children.length > 0" class="role-set-menu-lv2">
						<li ng-repeat="itemLv2 in item.children">
							<input type="checkbox" name="userroles"
								value="itemLv2.id"
								ng-checked="itemLv2.checked == true"
								ng-model="itemLv2.checked" />
							{{itemLv2.text}}
							
							<ul ng-if="itemLv2.children.length > 0" class="role-set-menu-lv3">
								<li ng-repeat="itemLv3 in itemLv2.children">
									<input type="checkbox" name="userroles"
										value="itemLv3.id"
										ng-checked="itemLv3.checked == true"
										ng-model="itemLv3.checked" />
									{{itemLv3.text}}
								</li>
							</ul>
							
						</li>
						<br/><br/>
					</ul>
				</li>
			</ul>
			
			<div style="clear: both">
				<div class="btn btn-lblue" 
				ng-show="!isRuning"
				ng-click="setMf()">
				&nbsp;&nbsp;确认分配&nbsp;&nbsp;
			</div>
			<div ng-show="isRuning">
				保存中，请稍后...
			</div>
			<btn-back />

			<div core-formresult result="formresult"></div>
			</div>
			
	</div>
	
</div>

</form>
