<div class="navigation">
	位置：
	<a href="#">首页</a>
</div>
<form name="form">
<div class="content">
	<div class="mytable">
		<div class="title">
			<span>
				项目字典编辑
			</span>
		</div>
		<table>
			<tbody>
				<tr>
					<td class="td-even">
						<span class="warn">*</span>项目编码：
						<input class="form-input" ng-model="prodic.proCode" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						<span class="warn">*</span>项目名称：
						<input class="form-input" ng-model="prodic.proName" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						卫生材料费：
						<input class="form-input" ng-model="prodic.wsclf" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						医疗风险基金：
						<input class="form-input" ng-model="prodic.ylfxjj" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						基本人力消耗（医生）：
						<input class="form-input" ng-model="prodic.pcYs" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						基本人力消耗（护士）：
						<input class="form-input" ng-model="prodic.pcHs" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						基本人力消耗（技师）：
						<input class="form-input" ng-model="prodic.pcJs" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						基本人力消耗（其他）：
						<input class="form-input" ng-model="prodic.peopleCountTech" />
					</td>
				</tr>
				<tr>
					<td class="td-even">
						项目耗时（分钟）：
						<input class="form-input" ng-model="prodic.costTime" />
					</td>
				</tr>
				
				<tr>
					<td class="td-even">
						<div class="btn btn-lblue" 
							ng-show="!isRuning"
							ng-click="save()">
							&nbsp;&nbsp;保存&nbsp;&nbsp;
						</div>
						<span class="warn">{{validInfo}}</span>
						<div ng-show="isRuning">
							保存中，请稍后...
						</div>
						<btn-back />

					</td>
				</tr>
				
				<tr>
					<td colspan="2">
						<div core-formresult result="formresult"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

</form>
