<div class="navigation">
	位置：
	<a ui-sref="index">首页</a>
	&gt;
	系统维护
	&gt;
	用户管理
</div>
<div class="content">
	<div class="searchzone">
		<div class="line border-none">
			<div class="desc">账号：</div>
			<div class="vals">
				<input ng-model="search.loginName" />
			</div>
			<div class="desc">姓名：</div>
			<div class="vals">
				<input ng-model="search.name" />
			</div>
		</div>
	</div>
	
	<div core-formresult result="formresult"></div>
	
	<div class="mytable">
		<div class="title">
			<span>总数 ：
				<span class="highlight">{{queryParams.total}}</span>
			</span>
			
			<a class="spe" href="#user/add" core-permission="system_user_add">创建新用户</a>
			
		</div>
		<table class="my-table" ng-table="tableParams">
			<thead>
				<tr>
					<th></th>
					<th>账号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>联系方式</th>
					<th>状态</th>
					<th></th>
				</tr>
			</thead>
			<tr ng-show="!$data"><td colspan="5">加载中...</td></tr>
			<tr ng-repeat="item in $data">
				<td>{{ (queryParams.page - 1) * queryParams.rows + $index + 1 }}</td>
				
				<td>{{ item.loginName }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.sex }}</td>
				<td>{{ item.phone }}</td>
				<td>{{ item.isUsed == '1' ? '正常' : '已禁用' }}</td>
				
				<td class="handle" ng-if="item.loginName == 'admin'">
					超级管理员禁止操作
				</td>
				
				<td class="handle" ng-if="item.loginName != 'admin'">
					<a class="btn btn-small btn-lblue" 
						href="#user/edit/{{item.id}}"
						ng-show="!item.ishanding"
						core-permission="system_user_edit"
						>编辑</a>
						
					<a class="btn btn-small btn-danger"
						ng-if="item.isUsed == '1'"
						ng-show="!item.ishanding"
						ng-click="item.prepareDel=!item.prepareDel"
						core-permission="system_user_disable"
						>禁用</a>
						
					<a class="btn btn-small btn-lblue" 
						ng-if="item.isUsed == '0'"
						ng-show="!item.ishanding"
						ng-click="item.ishanding==true;enable(item);"
						core-permission="system_user_enable"
						>启用</a>
						
					<a class="btn btn-small btn-lblue"
						ui-sref="userSetRole({id: item.id, loginName: item.loginName})"
						core-permission="system_user_rolw"
						>角色分配</a>
						
					<a class="btn btn-small btn-lblue" 
						ng-click="item.ishanding==true;resetPwd(item);"
						core-permission="system_user_pwd"
						ng-show="!item.ishanding"
						>重置密码</a>
						
					<a class="btn btn-small btn-w4"
						ng-show="item.ishanding"
						>操作中...</a>
					
					<table ng-show="item.prepareDel">
						<tr>
							<td colspan="5"></td>
							<td>
								<a class="btn btn-small btn-danger btn-w4"
									ng-click="item.ishanding==true;disable(item);"
									>确认禁用</a>
							</td>
						</tr>
					</table>
					
				</td>
			</tr>
		</table>
	</div>

</div>